<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body th:fragment="content">
	<ul class="button-right">
	    <li th:if="${portalRoleModel.pageMode == null OR portalRoleModel.pageMode.name() != 'LIST'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ROLE_LIST')">
            <a class="btn btn-primary btn-circle" th:href="@{/portal/role/list}"><i class="fa fa-list"></i></a>
        </li>
        <li th:if="${portalRoleModel.pageMode == null OR portalRoleModel.pageMode.name() != 'CREATE'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ROLE_CREATE')">
            <a class="btn btn-success btn-circle" th:href="@{/portal/role/create}"><i class="fa fa-plus"></i></a>
        </li>
    </ul>
</body>
</html>

