<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="portal/fragments/head :: head"></head>

<body class="nav-md skin-brown">
<div class="container body">
	<div class="main_container">
		<div class="col-md-4 left_col" th:replace="portal/fragments/site_bar :: site_bar"></div>
		<div class="top_nav" th:replace="portal/fragments/header :: topNav"></div>

		<!-- Main-->
		<div class="main_content" role="main">
			<div class="container-fluid top-heading">
				<h1 class="">Chỉnh sửa nhóm quyền hệ thống </h1>
			</div>

			<div class="container-fluid">

				<section class="section bgTrans">
					<div class="section-content">
						<th:block th:replace="portal/fragments/message :: content(${messageLst})" />
						<form th:action="@{/portal/rolegroup/edit}" th:object="${bean}" method="post" role="form" id="user-form">
							<input type="hidden" th:field="*{entity.groupId}" />
							<div class="box box-info">
								<div class="border-bottom">
									<div class="row">
										<div class="col-sm-8">
											<h5> Thông tin nhóm quyền hệ thống</h5>
										</div>
										<div class="col-sm-4">
											<div class="box-tools pull-right">
												<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
													class="fa fa-minus"></i>
												</button>
												<button type="button" class="btn btn-box-tool" data-widget="remove"><i
													class="fa fa-times"></i></button>
											</div>
										</div>
									</div>
								</div>
								<div class="box-body">
									<!-- Content here -->
									<div class="row">
										<div class="col-sm-12">
											<div class="item form-group col-xs-12">
												<label class="control-label col-md-2 col-sm-2 col-xs-12">Mã nhóm quyền <span
													class="required">*</span>
												</label>
												<div class="col-md-4 col-sm-4 col-xs-12">
													<input th:field="*{entity.groupCode}" id="txtUserName"
														class="form-control col-md-7 col-xs-12"
														placeholder="GROUP_<MAIN FUNCTION>_<SUB FUNCTION>" required type="text">
												</div>

												<label class="control-label col-md-2 col-sm-2 col-xs-12">Tên nhóm quyền <span
													class="required">*</span>
												</label>
												<div class="col-md-4 col-sm-4 col-xs-12">
													<input id="txtEmail" th:field="*{entity.groupName}"
														class="form-control col-md-7 col-xs-12" placeholder="" required type="text">
												</div>

											</div>
										</div>
									</div>
									<div class="row" style="padding-top: 20px;">
										<div class="col-md-5">
											<div class="text-center">
												<label th:text="#{branch.label.not.belong}"></label>
											</div>
											<table class="dataTable table table-striped table-bordered table-hover" id="tableLeftRole"
												style="font-family: verdana;font-size: 9.7pt;color: #000000;">
												<thead>
												<tr>
													<th class="col-md-1" style="width: 4%"></th>
													<th class="col-md-4" th:text="#{role.field.role.code}"></th>
													<th class="col-md-7" th:text="#{role.field.role.name}"></th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="role : *{roleLeftLst}">
													<tr>
														<td>
															<input type="checkbox" name="checkRoleLeft" th:value="${role.roleId}"
																id="checkRoleLeft" />
														</td>
														<td th:text="${role.roleCode}"></td>
														<td th:text="${role.roleName}"></td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
										<div class="col-md-2" style="padding-top: 40px;">

											<button class="btn btn-default btn-block" id="addAllRole" type="button">
												<i class="glyphicon glyphicon-forward"></i>
											</button>

											<button class="btn btn-default btn-block" id="addRole" type="button">
												<i class="glyphicon glyphicon-chevron-right"></i>
											</button>

											<button class="btn btn-default btn-block" id="removeRole" type="button">
												<i class="glyphicon glyphicon-chevron-left"></i>
											</button>

											<button class="btn btn-default btn-block" id="removeAllRole" type="button">
												<i class="glyphicon glyphicon-backward"></i>
											</button>

											<button class="btn btn-primary btn-block" id="btn-submit">Lưu</button>

										</div>
										<div class="col-md-5">
											<div class="text-center">
												<label th:text="#{branch.label.belong}"></label>
											</div>
											<table class="dataTable table table-bordered table-hover" id="tableRightRole"
												style="font-family: verdana;font-size: 9.7pt;color: #000000;">
												<thead>
												<tr>
													<th class="col-md-1" style="width: 4%"></th>
													<th class="col-md-4" th:text="#{role.field.role.code}"></th>
													<th class="col-md-7" th:text="#{role.field.role.name}"></th>
												</tr>
												</thead>
												<tbody>
												<th:block th:each="role : *{roleRightLst}">
													<tr>
														<td>
															<input type="checkbox" name="checkRoleRight" th:value="${role.roleId}"
																id="checkRoleRight" />
														</td>
														<td th:text="${role.roleCode}"></td>
														<td th:text="${role.roleName}"></td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="section-footer">
						<div class="btn-group">
							<a th:href="@{/portal/rolegroup/list}">
								<button type="button" class="btn btn-default">Danh Sách</button>
							</a>
						</div>
					</div>
				</section> <!-- End section -->

			</div>
		</div>
		<!-- /Main -->
		<footer th:replace="portal/fragments/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/main/portal/group/group_groupForm.js}"></script>
	</div>
</div>

<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->
<script>
	$(document).ready(function () {
		$('#myTable').DataTable();
	});
</script>
</body>
</html>

