<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="portal/fragments/head :: head">
<meta charset="utf-8" />
</head>
<body class="hold-transition skin-blue layout-top-nav">
	<div class="wrapper">

		<!-- HEADER -->
		<header class="main-header"
			th:replace="portal/fragments/header :: header"></header>
		<!-- .HEADER -->

		<!-- CONTENT RIGHT -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text="#{group.page}" ></h1>
				<th:block th:replace="portal/group/group_button :: content" />
			</section>
			<section class="content">
				<th:block th:replace="portal/fragments/message :: content(${messageLst})"/>
				<form th:action="@{/portal/group/edit}" th:object="${portalGroupModel}" method="post" role="form" id="idForm">
					<input type="hidden" th:field="*{entity.groupId}" />
					<input type="hidden" th:field="*{entity.groupKeycloakId}" />
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title" th:text="#{group.edit.label}"></h3>
						</div>
						<div class="box-body">
							<th:block th:replace="portal/group/group_form :: content" />
						</div>
						<div class="box">
				            <th:block th:include="portal/group/group_groupHasRole :: content"/>
			       		</div>
					</div>
					<div class="box-footer">
						<button class="btn btn-primary" id="btn-submit" th:text="#{edit.button}"></button>
						<a class="btn btn-default" th:href="@{/portal/group/edit?groupId=}+*{entity.groupId}"
							th:text="#{refresh.button}"></a>
					</div>
		       	</form>	
			</section>
		</div>

	</div>
	<footer class="main-footer" th:replace="portal/fragments/footer :: footer"></footer>
	<script type="text/javascript" th:src="@{/main/portal/group/group_groupForm.js}"></script>
	<!-- Config template -->
	<script type="text/javascript" th:src="@{/adminLTE/js/app.js}"></script>
	<script type="text/javascript" th:src="@{/adminLTE/js/config_app.js}"></script>
</body>
</html>