<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label th:text="#{group.field.name}" class="required"></label> 
				<input type="text" class="form-control" th:field="*{entity.groupName}" onchange="upperAndReSpaceAndDeAccent(this)"/>
				<span class="text-danger" th:if="${#fields.hasErrors('entity.groupName')}" th:errors="*{entity.groupName}"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label th:text="#{group.field.status}"></label>
				<select class="form-control" th:field="*{entity.status}">
					<option value="1" th:text="#{active.label}"></option>
					<option value="0" th:text="#{active.no.label}"></option>
				</select>
			</div>
		</div>
	</div>

</body>
</html>