<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class="">Đăng ký khóa học </h1>

                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a th:href="@{/portal/khoahoc/create}">
                            <button type="button" class="btn btn-default">Tạo mới</button>
                        </a>
                        <a th:href="@{/portal/khoahoc/edit}">
                            <button type="button" class="btn btn-default">Edit</button>
                        </a>
                        <a th:href="@{/portal/khoahoc/import}">
                            <button type="button" class="btn btn-default">Import</button>
                        </a>
                        <a th:href="@{/portal/khoahoc/export}">
                            <button type="button" class="btn btn-default">Export PDF</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <section class="section bgTrans">
                    <div class="section-content">
                        <form th:object="${bean}" method="post" th:action="@{/portal/khoahoc/dangky}">
                            <!-- Content here -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <!-- Compobox -->
                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"> Mã học viên <span
                                                    class="">*</span></label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="txtMaHocVien" class="form-control col-md-7 col-xs-12"
                                                       required
                                                       type="text">
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-xs-12" id="divMess">
                                            </div>
                                        </div>


                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Họ tên <span
                                                    class="">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="txtHoTen" class="form-control col-md-7 col-xs-12 input-lable"
                                                       readonly type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Giới tính <span
                                                    class="">*</span>
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <!-- Input radio -->
                                                <input id="txtGioiTinh"
                                                       class="form-control col-md-7 col-xs-12 input-lable" readonly
                                                       type="text">
                                                <!-- /Input radio -->
                                            </div>

                                            <label class="control-label col-md-1 col-sm-1 col-xs-12">Số ĐT <span
                                                    class="">*</span>
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input id="txtSoDienThoai"
                                                       class="form-control col-md-7 col-xs-12 input-lable" readonly
                                                       type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Ngày sinh <span
                                                    class="">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="txtNgaySinh"
                                                       class="form-control col-md-7 col-xs-12 input-lable" readonly
                                                       type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Email SHP<span
                                                    class="">*</span>
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input id="txtEmailShp"
                                                       class="form-control col-md-7 col-xs-12 input-lable" readonly
                                                       type="text">
                                            </div>

                                            <label class="control-label col-md-1 col-sm-1 col-xs-12">Email <span
                                                    class="">*</span>
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input id="txtEmail" class="form-control col-md-7 col-xs-12 input-lable"
                                                       readonly type="text">
                                            </div>

                                        </div>

                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">CMND/Passport <span
                                                    class="">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="txtSoCMND"
                                                       class="form-control col-md-7 col-xs-12 input-lable" readonly
                                                       type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Ngày cấp <span
                                                    class="">*</span>
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input id="txtNgayCap"
                                                       class="form-control col-md-7 col-xs-12 input-lable" readonly
                                                       type="text">
                                            </div>

                                            <label class="control-label col-md-1 col-sm-1 col-xs-12">Tại <span class="">*</span>
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input id="txtNoiCap"
                                                       class="form-control col-md-7 col-xs-12 input-lable" readonly
                                                       type="text">
                                            </div>
                                        </div>


                                        <!-- button  -->
                                        <div class="item form-group col-xs-12">
                                            <div class="col-md-10 col-sm-10 col-xs-12 col-sm-offset-2 col-md-offset-2">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default mgL0"
                                                            style="display: none;"
                                                            data-toggle="modal" data-target="#add-khoahoc-khoa"
                                                            id="btnPopupChonKhoaHoc">Chọn
                                                        khóa học
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                            <section class="section"> <!-- Start section table -->

                                <div class="section-header">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h2 class="heading">Danh sách khóa học </h2>
                                            <h3 class="sub-heading">Danh sách khóa học học viên này theo học </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-content">
                                    <!-- Content here -->
                                    <div class="table-shp">
                                        <table class="table table1 bulk_action" id="tblKhoaHocDk">
                                            <thead>
                                            <tr>

                                                <th>Mã khóa học</th>
                                                <th>Tên khóa học</th>
                                                <th>CT đào tạo</th>
                                                <th>Chuyên ngành</th>
                                                <th>Bậc đào tạo</th>
                                                <th>Bắt đầu</th>
                                                <th>Kết thúc</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="paginations">
                                        <ul class="pagination">
                                            <li><a href="#">Previous</a></li>
                                            <li><a href="#">...</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">...</a></li>
                                            <li><a href="#">Next</a></li>
                                        </ul>
                                    </div>
                                    <!-- End Content here -->
                                </div>

                            </section> <!-- End section table -->


                            <!-- End Content here -->
                            <div id="add-khoahoc-khoa" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"></button>
                                            <h2 class="heading">Danh dách khóa học </h2>
                                            <h3 class="sub-heading">Danh sách toàn bộ khóa học hiện có </h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <section class="section"> <!-- Start section table -->

                                                        <div class="section-content">
                                                            <!-- Content here -->
                                                            <div class="table-shp">
                                                                <table class="table table1 bulk_action">
                                                                    <thead>
                                                                    <tr>

                                                                        <th>Mã khóa học</th>
                                                                        <th>Tên khóa học</th>
                                                                        <th>CT đào tạo</th>
                                                                        <th>Chuyên ngành</th>
                                                                        <th>Bậc đào tạo</th>
                                                                        <th>Bắt đầu</th>
                                                                        <th>Kết thúc</th>
                                                                        <th></th>

                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr th:each="item,i : ${bean.lstKhoaHocDangKy}">

                                                                        <td th:text="${item.khoaHocCode}"></td>
                                                                        <td th:text="${item.khoaHocName}"> 3 tháng</td>
                                                                        <td th:text="${item.bacDaoTao.chuyenNganh.chuongTrinhDaoTao.chuongTrinhDaoTaoName}"></td>
                                                                        <td th:text="${item.bacDaoTao.chuyenNganh.chuyenNganhName}"></td>
                                                                        <td th:text="${item.bacDaoTao.bacDaoTaoName}"></td>
                                                                        <td th:text="${#dates.format(item.timeFrom, 'dd/MM/yyyy')}">
                                                                            01/09/2017
                                                                        </td>
                                                                        <td th:text="${#dates.format(item.timeTo, 'dd/MM/yyyy')}">
                                                                            01/11/2017
                                                                        </td>
                                                                        <td>
                                                                            <input type="hidden" name="lstMaKhoaHocDangKy" th:value="${item.khoaHocCode}" disabled/>
                                                                            <input type="button" class="btn btn-info" id="btnAdd"
                                                                                   value="Đăng Ký"
                                                                                   onclick="addKhoaHoc(this);"/>

                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <!-- End Content here -->
                                                        </div>

                                                    </section> <!-- End section table -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default mgL0">Chọn khóa học
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default">Đóng</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="section-footer">
                        <div class="btn-group">
                            <a th:href="@{/portal/khoahoc/dangky}">
                                <button type="button" class="btn btn-default"> Lưu</button>
                            </a>
                        </div>
                    </div>
                </section> <!-- End section -->


            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>


<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->
<!-- M add-khóa học cho học viên mới-->

<script>
    $(document).ready(function () {
        $('#txtMaHocVien').keyup(function (e) {
            $('#divMess').html("");
            $('#btnPopupChonKhoaHoc').hide();
            $('#txtHoTen').val("");
            $('#txtGioiTinh').val("");
            $('#txtSoDienThoai').val("");
            $('#txtNgaySinh').val("");
            $('#txtEmailShp').val("");
            $('#txtEmail').val("");
            $('#txtSoCMND').val("");
            $('#txtNgayCap').val("");
            $('#txtNoiCap').val("");
            var maHocVien = $(this).val().trim();
            if (maHocVien.length >= 7) {
                searchHocVien(maHocVien);
            }
        });

    });

    function searchHocVien(maHocVien) {
        $.ajax({
            type: "GET",
            url: BASE_URL + 'portal/hocvien/ajax_get_hocvien',
            data: "maHocVien=" + maHocVien,
            dataType: 'json',
            success: function (response) {
                if (response.status == "SUCCESS") {
                    $('#btnPopupChonKhoaHoc').show();
                    $('#txtHoTen').val(response.result.hoTen);
                    $('#txtGioiTinh').val(response.result.tenGioiTinh);
                    $('#txtSoDienThoai').val(response.result.soDienThoai);
                    $('#txtNgaySinh').val(response.result.strNgaySinh);
                    $('#txtEmailShp').val(response.result.emailShp);
                    $('#txtEmail').val(response.result.email);
                    $('#txtSoCMND').val(response.result.cmnd);
                    $('#txtNgayCap').val(response.result.strNgayCapCmnd);
                    $('#txtNoiCap').val(response.result.noiCapCmnd);
                } else {
                    $('#txtHoTen').val("");
                    $('#txtGioiTinh').val("");
                    $('#txtSoDienThoai').val("");
                    $('#txtNgaySinh').val("");
                    $('#txtEmailShp').val("");
                    $('#txtEmail').val("");
                    $('#txtSoCMND').val("");
                    $('#txtNgayCap').val("");
                    $('#txtNoiCap').val("");
                    $('#divMess').html("Không tìm thấy thông tin học viên.");
                }
            }
        });
    }

    function addKhoaHoc(btn) {
        var tr = $(btn).parent().parent();
        var newRow = tr.clone(true);
        newRow.find('#btnAdd').val("Huỷ");
        newRow.find('#btnAdd').attr("onClick","removeTr(this);");
        $('#tblKhoaHocDk tbody').append(newRow);
    }

    function removeTr(btn){
        $(btn).parent().parent().remove();
    }

</script>
</body>
</html>

