<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class=""> Khóa học </h1>

                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a th:href="@{/portal/khoahoc/list}">
                            <button type="button" class="btn btn-default">Danh sách khóa học</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <section class="section bgTrans">
                    <th:block th:replace="portal/fragments/message :: content(${messageLst})" />
                    <form th:action="@{/portal/khoahoc/edit}" th:object="${khoaHocModel}" method="post" role="form" id="khoahoc-form">
                        <input type="hidden" th:field="*{entity.khoaHocId}" />
                        <div class="section-content">
                            <!-- Content here -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-muted" novalidate>

                                        <div class="item form-group col-xs-12">
                                            <h5> Chỉnh sửa khóa học </h5>
                                        </div>

                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="khoaHocCode">Mã khóa học <span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="khoaHocCode" class="form-control col-md-7 col-xs-12"
                                                    th:field="*{entity.khoaHocCode}" placeholder="" required type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="khoaHocName">Tên khóa học <span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                <input id="khoaHocName" class="form-control col-md-7 col-xs-12"
                                                    th:field="*{entity.khoaHocName}" placeholder="" required type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="selBacDaoTao">Bậc đào tạo <span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <select class="input-sm col-sm-12 col-xs-12"
                                                    th:field="*{entity.bacDaoTao.bacDaoTaoId}" required id="selBacDaoTao">
                                                    <option value=""></option>
                                                    <option th:each="item : ${lstBacDaoTao}" th:value="${item.bacDaoTaoId}"
                                                        th:text="${item.bacDaoTaoName}"></option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Thời gian từ<span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="form-group">
                                                    <div class='input-group date'>
                                                        <input id="timeFrom" class="form-control col-md-7 col-xs-12" th:field="*{entity.timeFrom}"
                                                            placeholder="dd/mm/yyyy" required type="text" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                                        <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Thời gian đến <span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="form-group">
                                                    <div class='input-group date'>
                                                        <input id="timeTo" class="form-control col-md-7 col-xs-12" th:field="*{entity.timeTo}"
                                                            placeholder="dd/mm/yyyy" required type="text" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                                        <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Content here -->
                        </div>

                        <div class="section-footer-b">
                            <div class="btn-group">
                                <button class="btn btn-primary" th:text="#{edit.button}" id="btn-submit"></button>
                            </div>
                            <div class="btn-group">
                                <a th:href="@{/portal/khoahoc/list}">
                                    <button type="button" class="btn btn-default">Đóng</button>
                                </a>
                            </div>
                        </div>
                    </form>


                    <div class="section-content">
                        <!-- Content here -->
                        <div class="row">



                                <div class="item form-group col-xs-12" id="divKhmh">
                                    <th:block th:replace="/portal/khoahoc/khoahoc_monhoc :: content">
                                    </th:block>
                                </div>


                        </div>
                    </div>

                </section> <!-- End section -->

            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>



<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->

<script>
    $(document).ready(function () {
        $('#timeFrom').datepicker({
            autoclose: true,
            format: "dd/mm/yyyy",
            todayBtn: true,
            todayHighlight: true, language: "vi"
        });

        $('#timeTo').datepicker({
            autoclose: true,
            format: "dd/mm/yyyy",
            todayBtn: true,
            todayHighlight: true, language: "vi"
        });
    });

    function submitNewKhmh() {
        var checkReduceFrom = $('#formNewKhmh')[0].checkValidity();
        if (!checkReduceFrom) {
            return;
        }

        var str = $("#formNewKhmh").serialize();
        $.ajax({
            type: "GET",
            async: false,
            data: str,
            url: BASE_URL + 'portal/khoahoc/ajax_new_khmh',

            success: function (data) {
                $('#divKhmh').html(data);

            }
        });
    }

    function deleteKhmh(id) {
        bootbox.confirm("Bạn có muốn xoá môn học này không?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: BASE_URL + 'portal/khoahoc/ajax_delete_khmh',
                    data: "id=" + id,
                    success: function (response) {
                        $('#divKhmh').html(response);
                    }
                });
            }
        })
    }
</script>
</body>
</html>

