<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body th:fragment="content">
	<div class="box-header">
		<h3 class="box-title" th:text="${'Danh sách hệ thống'}"></h3>
	</div>
	<div class="box-body no-padding">
		<table class="table table-bordered table-hover out-tbl">
			<thead>
				<tr>
					<th style="width: 10px">#</th>
					<th th:text="#{group.label}"></th>
					<th th:text="#{system.field.system.code}"></th>
					<th th:text="#{system.field.system.name}"></th>
					<th th:text="#{systemgroup.field.remark}"></th>
					<th th:text="#{system.field.status}"></th>
					<th th:text="#{action.label}" class="action"></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="portalSystem,i : ${pageWrapper.data}">
					<tr th:attr="data-portal-system-id=${portalSystem.systemId}">
						<td th:text="${i.index + 1}"></td>
						<td th:text="${portalSystem.group.groupName}"></td>
						<td th:text="${portalSystem.systemCode}"></td>
						<td th:text="${portalSystem.systemName}"></td>
						<td th:text="${portalSystem.remark}"></td>
						<td th:if="${portalSystem.status == '1'}" th:text="#{active.label}"></td>
						<td th:if="${portalSystem.status == '0'}" th:text="#{active.no.label}"></td>
						<td>
							<button class="btn btn-default btn-sm portal-system-edit"
								type="button" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SYSTEM_EDIT')">
								<i class="fa fa-edit"></i>
							</button>
							<button class="btn btn-default btn-sm portal-system-delete"
								type="button"
								th:attr="data-msg-confirm=#{message.confirm.delete.content}"
								sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SYSTEM_DELETE')">
								<i class="fa fa-trash-o"></i>
							</button>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<div class="box-footer">
		<th:block th:replace="portal/fragments/pagination :: content" />
	</div>
<script type="text/javascript" th:src="@{/main/portal/system/system_systemTable.js}"></script>
</body>
</html>