<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="portal/fragments/head :: head"></head>

<body class="nav-md skin-brown">
<div class="container body">
	<div class="main_container">
		<div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar"></div>
		<div class="top_nav" th:replace="portal/fragments/header :: topNav"></div>

		<!-- Main-->
		<div class="main_content" role="main">
			<div class="container-fluid top-heading">
				<h1 class="">Tìm kiếm khóa học </h1>

				<div class="pull-right hidden-xs">
					<div class="btn-group">
						<a th:href="@{/portal/khoahoc/create}">
							<button type="button" class="btn btn-default">Tạo mới</button>
						</a>
						<a th:href="@{/portal/khoahoc/import}">
							<button type="button" class="btn btn-default">Import</button>
						</a>
						<a th:href="@{/portal/khoahoc/export}">
							<button type="button" class="btn btn-default">Export PDF</button>
						</a>
					</div>
				</div>
			</div>

			<div class="container-fluid">

				<section class="section bgTrans">
					<div class="section-content">
						<th:block th:replace="portal/fragments/message :: content(${messageLst})"/>
						<div class="box">
							<form th:action="@{/portal/user/list}" th:object="${portalUserModel}" method="post" role="form">
								<div class="box-header with-border">
									<h3 class="box-title" th:text="#{user.search.title}"></h3>
									<div class="box-tools pull-right">
										<button data-widget="collapse" class="btn btn-box-tool" type="button">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<div class="box-body">

									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label th:text="#{user.field.username}"></label>
												<input type="text" class="form-control" th:field="*{entity.username}" id="user_username"/>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label th:text="#{user.field.fullname}"></label>
												<input type="text" class="form-control" th:field="*{entity.fullName}" id="user_fullName"/>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label th:text="#{user.field.email}"></label>
												<input type="text" class="form-control" th:field="*{entity.email}" id="user_email"/>
											</div>
										</div>
									</div>

								</div>
								<div class="box-footer">
									<div class="row">
										<div class="col-md-12 text-center">
											<button type="submit" class="btn btn-primary" th:text="#{search.button}"></button>
										</div>
									</div>
								</div>
							</form>
						</div>

						<div class="box box-table">
							<th:block th:replace="portal/user/user_table :: content"/>
						</div>
					</div>

					<div class="section-footer">
						<div class="btn-group">
							<a th:href="@{/portal/khoahoc/list}">
								<button type="button" class="btn btn-default">Đóng</button>
							</a>
						</div>
					</div>
				</section> <!-- End section -->

			</div>
		</div>
		<!-- /Main -->
		<footer th:replace="portal/fragments/footer :: footer"></footer>
	</div>
</div>

<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->
<script>
	$(document).ready(function () {
		$('#myTable').DataTable();
	});
</script>
</body>
</html>

