<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<style>

</style>
</head>
<body th:fragment="content">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label th:text="#{user.field.username}" class="required"></label> 
				
				<input th:if="*{pageMode == null OR pageMode.name() == 'EDIT'}" th:field="*{entity.username}" id="user_username" type="text" class="form-control" readonly/>
				<div th:if="*{pageMode == null OR pageMode.name() == 'CREATE'}" class="input-group" id="divId">
					<input type="text" value="" th:field="*{entity.username}" onchange="delNameEmail()" class="form-control" id="user_username" placeholder="Enter username" autocomplete="off">

				</div>
				<div id="resultId" class="listResult"></div>
				
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label th:text="#{user.field.fullname}"></label> 
				<input type="text" class="form-control" id="user_fullname" th:field="*{entity.fullName}"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label th:text="#{user.field.email}"></label> 
				<input type="text" class="form-control" id="user_email" th:field="*{entity.email}"/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label th:text="#{user.field.msnv}"></label>
				<input type="text" class="form-control" id="user_msnv" th:field="*{entity.msnv}"/>
			</div>
		</div>

	</div>
	<!--<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="required" th:text="#{branch.label}"></label>
				<select class="form-control branchSelectClass js-example-basic-single" id="branchSelectId" th:field="*{entity.branch.branchId}">
					<option th:each="branch : *{branchLst}"
							th:value="${branch.branchId}"
							th:text="(${branch.branchCode} == #{code.nodefine}) ? #{no.choose} : ${branch.branchName}">
					</option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('entity.branch.branchId')}" th:errors="*{entity.branch.branchId}"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="required" th:text="#{department.label}"></label>
				<select class="form-control departmentSelectClass js-example-basic-single" id="departmentSelectId" th:field="*{entity.department.departmentId}">
					<option th:each="department : *{departmentLst}"
						th:value="${department.departmentId}"
						th:text="(${department.departmentCode} == #{code.nodefine}) ? #{no.choose} : ${department.departmentName}">
					</option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('entity.department.departmentId')}" th:errors="*{entity.department.departmentId}"></span>
			</div>
		</div>
	</div>-->
	<!--<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="required" th:text="#{title.label}"></label>
				<select class="form-control titleSelectClass js-example-basic-single" id="titleSelectId" th:field="*{entity.title.titleId}">
					<option th:each="title : *{titleLst}"
							th:value="${title.titleId}"
							th:text="(${title.titleCode} == #{code.nodefine}) ? #{no.choose} : ${title.titleName}">
					</option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('entity.title.titleId')}" th:errors="*{entity.title.titleId}"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="required" th:text="#{user.field.manager}"></label> 
				<div  class="input-group">
					<div class="input-group-addon" id="searchManagerButton">
						<a href="#" onkeypress="runScript(event)"><i class="fa fa-search"></i></a>
					</div>
				</div>
				<div id="resultManagerId" class="listResult"></div>
			</div>
		</div>

	</div>-->
	<script type="text/javascript" th:src="@{/plugins/select2/select2.full.js}"></script>
</body>
<script th:inline="javascript">
	$(document).ready(function() {
        $(".js-example-basic-single").select2();
		$('#resultId').hide();
		$('#resultManagerId').hide();
	    $("#searchButton a").click(function() {
	    	searchUser();
	    });
	    $("#searchManagerButton a").click(function() {
	    	searchManagerUser();
	    });
	});
	
	$('#user_username').keypress(function (e) {
	  if (e.which == 13) {
		  searchUser();
	  }
	});
	$('#user_manager').keypress(function (e) {
	  if (e.which == 13) {
		  searchManagerUser();
	  }
	});
	
	function searchUser() {
		var username = $('#user_username').val();
		
    	$.ajax({
            type  : "GET",
            url   : BASE_URL + "portal/user/ajaxSearchUser",
            data  : {
            	"username" : username
            },
            success: function (data) {
          		$('#resultId').empty();
          	 	$('#resultId').show();
            	$.each(data, function (i, item) {
            	    console.log(item);
            		 $('#resultId').append('<a href=\"#\" onclick=\"relUser(\'' + item.username + '\', \''+item.firstName+'\', \''+item.email+'\', \''+item.id+'\', \''+item.attributes.description+'\');\" style=\"margin-left: 5px;\">'+item.username+'</a><br/>');
        		});
            }
        });
	}
	function searchManagerUser() {
		var username = $('#user_manager').val();
		
    	$.ajax({
            type  : "GET",
            url   : BASE_URL + "portal/user/ajaxSearchUser",
            data  : {
            	"username" : username
            },
            success: function (data) {
          		$('#resultManagerId').empty();
          	 	$('#resultManagerId').show();
            	$.each(data, function (i, item) {
            		 $('#resultManagerId').append('<a href=\"#\" onclick=\"relManagerUser(\'' + item.username + '\');\" style=\"margin-left: 5px;\">'+item.username+'</a><br/>');
        		});
            }
        });
	}
	
	function relUser(username, firstname, email, userKeycloak,description) {
		if (firstname == "null") {
			firstname = '';
		}
		if (email == "null") {
			email = '';
		}
		$('#resultId').hide();
		$('#user_username').val(username);
		$("#user_fullname").val(firstname);
		$("#user_email").val(email);
		$("#userKeycloak").val(userKeycloak);
		if(description != "undefined")
        	$("#user_msnv").val(description);
		
	}
	function relManagerUser(username) {
		$('#resultManagerId').hide();
		$('#user_manager').val(username);
		
	}
	
	function delNameEmail() {
		$("#user_fullname").val('');
		$("#user_email").val('');
		$("#userKeycloak").val('');
        $("#user_msnv").val('');
	}
	
	
</script>

<script th:inline="javascript">

	function changeUsername(id) {
		/*<![CDATA[*/
		var userLst = /*[[*{userLst}]]*/null;
		var user = userLst[id-1];
		$("#user_fullname").val(user.fullName);
		$("#user_email").val(user.email);
		$("#user_username").val(user.username);
        $("#user_msnv").val(user.attributes.description);
		/*]]>*/
	}
</script>
</html>
