<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="utf-8"/>
    <title>VCCB</title>
</head>
<body>

<div class="col-md-3 left_col" th:fragment="site_bar">
    <div class="left_col scroll-view">
        <div class="clearfix"></div>
        <!-- sidebar menu -->
        <div id="sidebar-menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-home"></i> <span class="text-main">Học Viên</span> <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="shp-form-dkhv.html"><i class="fa fa-star-o"></i> Đăng ký mới </a></li>
                            <li><a href="shp-form-dshv.html"><i class="fa fa-star-o"></i> Danh sách </a></li>

                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> <span class="text-main"> Giảng viên </span> <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="shp-form-dkgv.html"><i class="fa fa-star-o"></i> Đăng ký mới</a></li>
                            <li><a href="shp-form-dsgv.html"><i class="fa fa-star-o"></i> Danh sách </a></li>

                        </ul>
                    </li>
                    <li><a><i class="fa fa-table"></i> <span class="text-main">Đào tạo</span> <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="shp-new-thoikhoabieu.html"><i class="fa fa-star-o"></i> Thời khóa biểu</a></li>
                            <li><a th:href="@{/portal/chuongtrinhdaotao/list}"><i class="fa fa-star-o"></i> CT Đào tạo</a></li>
                            <li><a href="shp-new-cn-DaoTao.html"><i class="fa fa-star-o"></i> Chuyên ngành</a></li>
                            <li><a href="shp-new-bac-DaoTao.html"><i class="fa fa-star-o"></i> Bậc Đào tạo</a></li>
                            <li><a href="shp-new-bomon.html"><i class="fa fa-star-o"></i> Bộ môn </a></li>
                            <li><a href="shp-new-monhoc.html"><i class="fa fa-star-o"></i> Môn học </a></li>
                            <li><a href="shp-new-cahoc.html"><i class="fa fa-star-o"></i> Ca học </a></li>
                            <li><a href="shp-new-khoahoc.html"><i class="fa fa-star-o"></i> Khóa học</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tags"></i> <span class="text-main">Quản lý</span> <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="#"><i class="fa fa-star-o"></i> Học viên </a>
                                <ul class="nav child_menu">
                                    <li><a href="#"><i class="fa fa-star-o"></i> Điểm</a></li>

                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-star-o"></i> Giáo viên</a></li>
                            <li><a href="#"><i class="fa fa-star-o"></i> Học vụ</a></li>

                        </ul>
                    </li>

                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->
    </div>
</div>

<!-- /.sidebar -->
</body>
</html>