<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body th:fragment="content">
<ul class="button-right">
	<li th:if="${chuongTrinhDaoTaoModel.pageMode == null OR chuongTrinhDaoTaoModel.pageMode.name() != 'LIST'}"
		sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CHUONGTRINHDAOTAO_LIST')">
		<a class="btn btn-primary btn-circle" th:href="@{/portal/chuongtrinhdaotao/list}"><i class="fa fa-list"></i></a>
	</li>
	<li th:if="${chuongTrinhDaoTaoModel.pageMode == null OR chuongTrinhDaoTaoModel.pageMode.name() != 'CREATE'}"
		sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CHUONGTRINHDAOTAO_CREATE')">
		<a class="btn btn-success btn-circle" th:href="@{/portal/chuongtrinhdaotao/create}"><i class="fa fa-plus"></i></a>
	</li>
</ul>
</body>
</html>

