<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body th:fragment="content">
<div class="box-header">
	<h3 class="box-title" th:text="${'Danh sách chương trình'}"></h3>
</div>
<div class="box-body no-padding">
	<table class="table table-bordered table-hover out-tbl" id="idTable">
		<thead>
		<tr>
			<th style="width: 10px">#</th>
			<th th:text="#{chuongtrinhdaotao.field.chuongtrinhdaotaoCode}"></th>
			<th th:text="#{chuongtrinhdaotao.field.chuongtrinhdaotaoName}"></th>
			<th th:text="#{action.label}" class="action"></th>
		</tr>
		</thead>
		<tbody>
		<th:block th:each="chuongTrinhDaoTao,i : ${pageWrapper.data}">
			<tr th:attr="data-portal-chuongtrinhdaotao-id=${chuongTrinhDaoTao.chuongTrinhDaoTaoId}">
				<td th:text="${i.index + 1}"></td>
				<td th:text="${chuongTrinhDaoTao.chuongTrinhDaoTaoCode}"></td>
				<td th:text="${chuongTrinhDaoTao.chuongTrinhDaoTaoName}"></td>
				<td>
					<a th:href="@{/portal/chuongtrinhdaotao/edit/{id}(id=${chuongTrinhDaoTao.id})"></a>
					<button class="btn btn-default btn-sm portal-chuongtrinhdaotao-edit" type="button"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CHUONGTRINHDAOTAO_EDIT')">
						<i class="fa fa-edit"></i>
					</button>
					<button class="btn btn-default btn-sm portal-chuongtrinhdaotao-delete" type="button"
						th:attr="data-msg-confirm=#{message.confirm.delete.content}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CHUONGTRINHDAOTAO_DELETE')">
						<i class="fa fa-trash-o"></i>
					</button>
				</td>
			</tr>
		</th:block>
		</tbody>
	</table>
</div>

</body>
</html>