<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="portal/fragments/head :: head">
<meta charset="utf-8" />
</head>
<body class="hold-transition skin-blue layout-top-nav">
	<div class="wrapper">

		<!-- HEADER -->
		<header class="main-header"
			th:replace="portal/fragments/header :: header"></header>
		<!-- .HEADER -->

		<!-- CONTENT RIGHT -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text="#{chuongtrinhdaotao.page}" ></h1>
				<th:block th:replace="portal/chuongtrinhdaotao/chuongtrinhdaotao_button :: content" />
			</section>
			<section class="content">
				<th:block th:replace="portal/fragments/message :: content(${messageLst})"/>
				<form th:action="@{/portal/chuongtrinhdaotao/create}" th:object="${chuongTrinhDaoTaoModel}" method="post" role="form" id="chuongtrinhdaotao-form">
					
					<div class="box">
			            <div class="box-header with-border">
				            <h3 class="box-title" th:text="#{chuongtrinhdaotao.create.title}"></h3>
				        </div>
			            
			            <div class="box-body">
			            	<th:block th:replace="portal/chuongtrinhdaotao/chuongtrinhdaotao_form :: content" />
			            </div>
			        </div>
			        
<!-- 			        <div class="box" id="roleForBranch"> -->
<!-- 			            <th:block th:include="portal/chuongtrinhdaotao/chuongtrinhdaotao_roleForBranchTable :: content"/> -->
<!-- 			        </div> -->
			        
			        <div class="box-footer">
			            <button class="btn btn-primary" th:text="#{create.button}" id="btn-submit"></button>
			            <a class="btn btn-default" th:href="@{/portal/chuongtrinhdaotao/create}" th:text="#{refresh.button}"></a>
			        </div>
		       	</form>	
			</section>
		</div>

	</div>
	<footer class="main-footer" th:replace="portal/fragments/footer :: footer"></footer>
	<script type="text/javascript" th:src="@{/js/chuongtrinhdaotao/chuongtrinhdaotao_chuongtrinhdaotaoForm.js}"></script>
	<!-- Config template -->
  	<script type="text/javascript" th:src="@{/adminLTE/js/app.js}"></script>
  	<script type="text/javascript" th:src="@{/adminLTE/js/config_app.js}"></script>
</body>
</html>