<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="portal/fragments/head :: head"></head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar"></div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav"></div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class="">Tìm kiếm user </h1>

                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a th:href="@{/portal/user/create}">
                            <button type="button" class="btn btn-default">Tạo mới</button>
                        </a>
                        <a th:href="@{/portal/user/exportXls/{list}(list=${listExport})}">
                            <button type="button" class="btn btn-default">Export Excel</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <section class="section bgTrans">
                    <div class="section-content">
                        <form th:object="${bean}" method="post">
                            <!-- Content here -->

                            <section class="section"> <!-- Start section table -->

                                <div class="section-header">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h2 class="heading">Danh sách user</h2>
                                            <h3 class="sub-heading">Danh sách user tìm thấy theo từ khóa </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-content">
                                    <!-- Content here -->
                                    <div class="table-shp">
                                        <table class="table table1 bulk_action" id="myTable">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <div class="checkbox checkbox-success">
                                                        <input id="checkbox1" type="checkbox" class="flat check-all">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </th>
                                                <th>Username</th>
                                                <th>Họ Tên</th>
                                                <th>Email</th>
                                                <th>SessionId</th>
                                                <th>Số điện thoại</th>
                                                <th>Thao Tác</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="userItem,i : ${bean.lstUser}">
                                                <td>
                                                    <div class="checkbox checkbox-success">
                                                        <input id="checkbox1" type="checkbox" class="flat check-all">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </td>
                                                <td><a th:href="@{/portal/user/edit/{id}(id=${userItem.userId})}"
                                                       th:title="${userItem.username}" th:text="${userItem.username}">HV0001</a>
                                                </td>
                                                <td th:text="${userItem.fullName}">Họ Tên</td>
                                                <td th:text="${userItem.email}">Email</td>
                                                <td th:text="${userItem.sessionId}">Ngày
                                                    sinh
                                                </td>
                                                <td th:text="${userItem.mobile}">Số điện thoại</td>
                                                <td>

                                                    <button class="btn btn-danger btn-sm" type="button" th:onclick="${'logoutUser(''' + userItem.sessionId + ''',this);'}"
                                                            sec:authorize="hasAnyRole(@Role.ROLE_ADMIN, @Role.ROLE_LOGOUT_USER)" >
                                                        Logout
                                                    </button>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- End Content here -->
                                </div>

                            </section> <!-- End section table -->
                        </form>
                        <!-- End Content here -->
                    </div>
                </section> <!-- End section -->

            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer"></footer>
    </div>
</div>

<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    function logoutUser(sessionId, btn) {
        $.ajax({
            type : "GET",
            url : BASE_URL + 'system/user/ajax_logout',
            data : "sessionId=" + sessionId,
            success : function(response) {
                if (response.status == "SUCCESS") {
                    $('#btnLogoutUser').val('Success');
                    $('#btnLogoutUser').attr('disabled','disabled');
                    $(btn).parent().parent().remove();
                }else{
                    alert("Không tìm thấy thông tin user.");			}
            }

        });
    }
</script>
</body>
</html>

