<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class="">Tìm kiếm môn đòa tạo </h1>

                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a th:href="@{/portal/bomon/create}">
                            <button type="button" class="btn btn-default">Tạo mới</button>
                        </a>
                        <a th:href="@{/portal/bomon/import}">
                            <button type="button" class="btn btn-default">Import</button>
                        </a>
                        <a th:href="@{/portal/bomon/export}">
                            <button type="button" class="btn btn-default">Export PDF</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <section class="section bgTrans">
                    <div class="section-content">
                        <form th:object="${bean}" method="post" th:action="@{/portal/bomon/list}">
                        <!-- Content here -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12 ">
                                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-xs-12">
                                        <input id="firstname" class="form-control col-md-7 col-xs-12" name=""
                                               placeholder="" required type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section class="section"> <!-- Start section table -->

                            <div class="section-header">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2 class="heading">Danh sách môn đào tạo </h2>
                                        <h3 class="sub-heading">Danh sách môn đào tạo tìm thấy theo từ khóa </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="section-content">
                                <!-- Content here -->
                                <div class="table-shp">
                                    <table class="table table1 bulk_action">
                                        <thead>
                                        <tr>
                                            <th>
                                                <div class="checkbox checkbox-success">
                                                    <input id="checkbox1" type="checkbox" class="flat check-all">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </th>
                                            <th>Mã bộ môn</th>
                                            <th>Tên bộ môn</th>
                                            <th>Thao Tác</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="boMon,i : ${bean.data}">
                                            <td>
                                                <div class="checkbox checkbox-success">
                                                    <input id="checkbox1" type="checkbox" class="flat check-all">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </td>
                                            <td><a th:href="@{/portal/bomon/edit/{id}(id=${boMon.boMonId})}" th:title="${boMon.boMonCode}"
                                                   th:text="${boMon.boMonCode}">HV0001</a></td>
                                            <td th:text="${boMon.boMonName}">Ẩm thực châu Á</td>
                                            <td>
                                                <a th:href="@{/portal/bomon/edit/{id}(id=${boMon.boMonId})}">
                                                    <button class="btn btn-default btn-sm" type="button"
                                                        sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_BOMON_EDIT')">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>
                                                <a onclick="return confirm('Bạn có chắc muốn xóa dữ liệu này không?');"
                                                    th:href="@{/portal/bomon/delete/{id}(id=${boMon.boMonId})}">
                                                    <button class="btn btn-default btn-sm" type="button"
                                                        th:attr="data-msg-confirm=#{message.confirm.delete.content}"
                                                        sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_BOMON_DELETE')">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="paginations">
                                    <ul class="pagination">
                                        <li><a href="#">Previous</a></li>
                                        <li><a href="#">...</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">...</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                                <!-- End Content here -->
                            </div>


                        </section> <!-- End section table -->
                        </form>
                        <!-- End Content here -->
                    </div>

                    <div class="section-footer">
                        <div class="btn-group">
                            <a th:href="@{/portal/bomon/list}">
                                <button type="button" class="btn btn-default">Đóng</button>
                            </a>
                        </div>
                    </div>
                </section> <!-- End section -->


            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>


<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->


</body>
</html>

