<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class="">Bộ môn </h1>

                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a href="shp-new-bomon.html"><button type="button" class="btn btn-default">Tạo mới </button></a>
                        <button type="button" class="btn btn-default">Lưu </button>

                        <a href="shp-ds-bomon.html"><button type="button" class="btn btn-default">Danh sách bộ môn </button></a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <section class="section bgTrans">
                    <div class="section-content">
                        <!-- Content here -->
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-muted" novalidate>

                                    <div class="item form-group col-xs-12">
                                        <h5> Tạo mới bộ môn  </h5>
                                        <i> Thông tin tạo mới </i>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Mã bộ môn <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="firstname" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Tên bộ môn <span class="required">*</span>
                                        </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <input id="firstname" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Content here -->
                    </div>

                    <div class="section-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default mgL0">Lưu </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"> Đóng </button>
                        </div>
                    </div>
                </section> <!-- End section -->

                <section class="section bgTrans"> <!-- Start section table -->

                    <div class="section-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="heading">Danh sách môn đào tạo theo bộ môn </h2>
                                <h3 class="sub-heading">Danh sách tổng hợp môn đào tạo theo bộ môn </h3>
                            </div>
                        </div>
                    </div>

                    <div class="section-content">
                        <!-- Content here -->
                        <div class="table-shp">
                            <table class="table table1 bulk_action">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox1" type="checkbox" class="flat check-all">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </th>
                                    <th>Mã môn </th>
                                    <th>Tên môn </th>
                                    <th>Bộ môn  </th>
                                    <th>Tổng giờ dậy</th>
                                    <th>Hệ số </th>
                                    <th>Số tín chỉ </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox1" type="checkbox" class="flat check-all">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td><a href="shp-new-bomon.html">ESI-007</a></td>
                                    <td> L1 - LISTENING & CONVERSATION </td>
                                    <td>Tiếng Anh </td>
                                    <td>45</td>
                                    <td>2 </td>
                                    <td>90 </td>

                                </tr>

                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox1" type="checkbox" class="flat check-all">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td><a href="shp-new-bomon.html">ESI-007</a></td>
                                    <td> L1 - LISTENING & CONVERSATION </td>
                                    <td>Tiếng Anh </td>
                                    <td>45</td>
                                    <td>2 </td>
                                    <td>90 </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="paginations">
                            <ul class="pagination">
                                <li><a href="#">Previous</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                        <!-- End Content here -->
                    </div>

                </section> <!-- End section table -->
            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>



<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->


</body>
</html>

