<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="portal/fragments/head :: head">
<meta charset="utf-8" />
</head>
<body class="hold-transition skin-blue layout-top-nav">
	<div class="wrapper">

		<!-- HEADER -->
		<header class="main-header"
			th:replace="portal/fragments/header :: header"></header>
		<!-- .HEADER -->

		<!-- CONTENT RIGHT -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text="#{department.page}" ></h1>
				<th:block th:replace="portal/department/department_button :: content" />
			</section>
			<section class="content">
				<th:block th:replace="portal/fragments/message :: content(${messageLst})"/>
				<form th:action="@{/portal/department/create}" th:object="${portalDepartmentModel}" method="post" role="form" id="idForm">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title" th:text="#{department.create.title}"></h3>
						</div>
						<div class="box-body">
							<th:block th:replace="portal/department/department_form :: content" />
						</div>
					</div>
					<div class="box-footer">
						<button type="button" class="btn btn-primary" th:text="#{create.button}" id="btn-submit"></button>
						<a class="btn btn-default" th:href="@{/portal/department/create}"
							th:text="#{refresh.button}"></a>
					</div>
		       	</form>	
			</section>
		</div>

	</div>
	<footer class="main-footer" th:replace="portal/fragments/footer :: footer"></footer>
	<script th:inline="javascript">
		$("#btn-submit").click(function(){
			$('#idForm').submit();
		});
	</script>
	<!-- Config template -->
	<script type="text/javascript" th:src="@{/adminLTE/js/app.js}"></script>
	<script type="text/javascript" th:src="@{/adminLTE/js/config_app.js}"></script>
</body>
</html>