<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="portal/fragments/head :: head">
<meta charset="utf-8" />
</head>
<body class="hold-transition skin-blue layout-top-nav">
	<div class="wrapper">

		<!-- HEADER -->
		<header class="main-header"
			th:replace="portal/fragments/header :: header"></header>
		<!-- .HEADER -->

		<!-- CONTENT RIGHT -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text="#{department.page}" ></h1>
				<th:block th:replace="portal/department/department_button :: content" />
			</section>
			<section class="content">
				<th:block th:replace="portal/fragments/message :: content(${messageLst})"/>
				<div class="box box-table">
				
					<div class="box-header">
				        <h3 class="box-title" th:text="#{department.list.title}"></h3>
				    </div>
				    <div class="box-body no-padding">
				        <table class="table table-bordered table-hover out-tbl" id="idTable" >
				        	<thead>
				                <tr>
				                    <th style="width: 10px">#</th>
				                    <th th:text="#{department.field.department.code}"></th>
									<th th:text="#{department.field.transCode.code}"></th>
				                    <th th:text="#{department.field.department.name}"></th>
				                    <th th:text="#{department.field.status}"></th>
									<th th:text="#{active.label}" class="action"></th>
				                </tr>
				            </thead>
				            <tbody>
				            	<th:block th:each="portalDepartment,i : ${portalDepartmentLst}">
					              	<tr th:attr="data-portal-department-id=${portalDepartment.departmentId}">
					                    <td th:text="${i.index + 1}"></td>
					                    <td th:text="${portalDepartment.departmentCode}"></td>
										<td th:text="${portalDepartment.transCode}"></td>
					                    <td th:text="${portalDepartment.departmentName}"></td>
					                    <td th:if="${portalDepartment.status == '1'}" th:text="#{active.label}"> </td>
					                    <td th:if="${portalDepartment.status == '0'}" th:text="#{active.no.label}"> </td>
										<td>
					                        <div class="btn-department">
					                            <button class="btn btn-default btn-sm portal-department-edit" type="button" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DEPARTMENT_EDIT')">
					                                <i class="fa fa-edit"></i>
					                            </button>
					                            <button class="btn btn-default btn-sm portal-department-delete" type="button" th:attr="data-msg-confirm=#{message.confirm.delete.content}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DEPARTMENT_DELETE')">
					                                <i class="fa fa-trash-o"></i>
					                            </button>
					                        </div>
					                    </td>
				                   	</tr>
			                   	</th:block>
				            </tbody>
			            </table>
		            </div>
		            
			    </div>
			</section>
		</div>

	</div>
	<footer class="main-footer" th:replace="portal/fragments/footer :: footer"></footer>
	<script type="text/javascript" th:src="@{/main/portal/department/department_departmentTable.js}"></script>
	
	<!-- Config template -->
	<script type="text/javascript" th:src="@{/adminLTE/js/app.js}"></script>
	<script type="text/javascript" th:src="@{/adminLTE/js/config_app.js}"></script>
</body>
</html>