<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class="">Bổ sung thông tin học viên</h1>
                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a href="shp-form-dkhv.html">
                            <button type="button" class="btn btn-default">Tạo mới</button>
                        </a>
                        <button type="button" class="btn btn-default">Lưu</button>

                        <a href="shp-form-dshv.html">
                            <button type="button" class="btn btn-default"> Danh sách học viên</button>
                        </a>
                        <button type="button" class="btn btn-default">Export PDF</button>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <th:block th:object="${bean}">

                    <section class="section bgTrans">
                        <div class="section-content">
                            <th:block th:replace="portal/fragments/message :: content(${messageLst})"/>
                            <!-- Content here -->
                            <div class="row">
                                <div class="item form-group col-xs-12">
                                    <h5> Cập nhật hông tin học viên </h5>
                                    <div class="item form-group col-xs-12">
                                        <h5> Thông tin Sinh viên </h5>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname"
                                               style="padding-top: 10px;">Mã
                                            học viên
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="firstname"
                                                   class="form-control col-md-7 col-xs-12 disabled input-lable"
                                                   th:field="*{entity.maHocVien}"
                                                   readonly required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname"
                                               style="padding-top: 10px;">Họ
                                            tên <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="firstname" class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.hoTen}"
                                                   readonly type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname"
                                               style="padding-top: 10px;">Giới
                                            tính <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12  input-lable"
                                                   th:if="${bean.entity.gioiTinh == 'F'}" value="Nữ"
                                                   readonly type="text">
                                            <input class="form-control col-md-7 col-xs-12  input-lable"
                                                   th:if="${bean.entity.gioiTinh == 'M'}" value="Nam"
                                                   readonly type="text">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12"
                                               style="padding-top: 10px;">Số ĐT <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12  input-lable"
                                                   th:field="*{entity.soDienThoai}"
                                                   readonly type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12  input-lable"
                                               for="firstname" style="padding-top: 10px;">Ngày
                                            sinh <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">

                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input readonly class="form-control col-md-7 col-xs-12 input-lable"
                                                           th:field="*{entity.ngaySinh}"
                                                    >

                                                </div>
                                            </div>

                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                               style="padding-top: 10px;">Email
                                            SHP<span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.emailShp}"
                                                   readonly type="email">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12 input-lable"
                                               style="padding-top: 10px;">Email <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.email}"
                                                   readonly type="email">
                                        </div>

                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12 input-lable"
                                               for="firstname" style="padding-top: 10px;">CMND/Passport
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.cmnd}"
                                                   readonly type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12 input-lable"
                                               style="padding-top: 10px;">Ngày cấp
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input class="form-control col-md-7 col-xs-12 input-lable"
                                                           th:field="*{entity.ngayCapCmnd}"
                                                    >

                                                </div>
                                            </div>

                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12"
                                               style="padding-top: 10px;">Tại <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.noiCapCmnd}"
                                                   readonly type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="item form-group col-xs-12">
                                    <h5> Kinh nghiệm làm việc </h5>
                                </div>
                                <div class="item form-group col-xs-12" id="divKnlv">

                                    <th:block th:replace="/portal/hocvien/hocvien_knlv :: content">


                                    </th:block>
                                </div>
                                <div class="item form-group col-xs-12">
                                    <h5> Hồ sơ cá nhân </h5>
                                </div>

                                <div class="item form-group col-xs-12">
                                    <!-- Input check -->
                                    <div class="checkbox checkbox-inline checkbox-success">
                                        <input id="checkbox11" type="checkbox">
                                        <label for="checkbox11">
                                            Hình
                                        </label>
                                    </div>
                                    <!-- /Input check -->

                                    <!-- Input check -->
                                    <div class="checkbox checkbox-inline checkbox-success">
                                        <input id="checkbox22" type="checkbox">
                                        <label for="checkbox22">
                                            Bản sao CMT
                                        </label>
                                    </div>
                                    <!-- /Input check -->
                                    <!-- Input check -->
                                    <div class="checkbox checkbox-inline checkbox-success">
                                        <input id="checkbox22" type="checkbox">
                                        <label for="checkbox22">
                                            Bằng cấp
                                        </label>
                                    </div>
                                    <!-- /Input check -->
                                    <!-- Input check -->
                                    <div class="checkbox checkbox-inline checkbox-success">
                                        <input id="checkbox22" type="checkbox">
                                        <label for="checkbox22">
                                            Hộ khẩu
                                        </label>
                                    </div>
                                    <!-- /Input check -->
                                    <!-- Input check -->
                                    <div class="checkbox checkbox-inline checkbox-success">
                                        <input id="checkbox22" type="checkbox">
                                        <label for="checkbox22">
                                            Học bạ
                                        </label>
                                    </div>
                                    <!-- /Input check --> <!-- Input check -->
                                    <div class="checkbox checkbox-inline checkbox-success">
                                        <input id="checkbox22" type="checkbox">
                                        <label for="checkbox22">
                                            Giấy khám sức khỏe
                                        </label>
                                    </div>
                                    <!-- /Input check -->

                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Bao gồm <span
                                            class="required">*</span>
                                    </label>


                                </div>


                                <div class="item form-group col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12"> Đính kèm
                                        file </label>
                                    <div class="col-md-5 col-sm-5 col-xs-12">

                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>
                            </div>
                            <!-- End Content here -->
                        </div>

                        <!--<div class="section-footer">-->
                        <!--<div class="btn-group">-->
                        <!--<button type="submit" class="btn btn-default mgL0">Lưu</button>-->
                        <!--</div>-->
                        <!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-default"> Đóng</button>-->
                        <!--</div>-->
                        <!--</div>-->

                    </section> <!-- End section -->
                </th:block>
            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>
<script>
    $('#txtKnlvTuNgay').datepicker({
        autoclose: true,
        format: "dd/mm/yyyy",
        todayBtn: true,
        todayHighlight: true, language: "vi"
    });

    $('#txtKnlvDenNgay').datepicker({
        autoclose: true,
        format: "dd/mm/yyyy",
        todayBtn: true,
        todayHighlight: true, language: "vi"
    });


    function loadDist(source, dist, detail) {
        $('#' + dist).find('option').remove().end();
        $('#' + detail).find('option').remove().end();
        $('#i' + source).attr('class', 'fa fa-refresh fa-spin');

        var locCode = $('#' + source).val();

        $.ajax({
            type: "GET",
            url: BASE_URL + 'portal/hocvien/ajax_loadLocationDet',
            data: "parentCode=" + locCode,
            success: function (response) {
                $('#i' + source).attr('class', 'fa fa-search');
                $('#' + dist).append($("<option></option>").attr("value", "").text(""));
                $.each(response, function (key, value) {
                    $('#' + dist).append($("<option></option>").attr("value", key).text(value));
                });
                $('#' + dist).focus();
            }
        });
    }

    function loadDetail(source, dist) {
        $('#' + dist).find('option').remove().end();
        var locCode = $('#' + source).val();
        $.ajax({
            type: "GET",
            url: BASE_URL + 'portal/hocvien/ajax_loadLocationDet',
            data: "parentCode=" + locCode,
            success: function (response) {
                $('#' + dist).append($("<option></option>").attr("value", "").text(""));
                $.each(response, function (key, value) {
                    $('#' + dist).append($("<option></option>").attr("value", key).text(value));
                });
                $('#' + dist).focus();
            }
        });
    }

    function submitNewKnlv() {
        var checkReduceFrom = $('#formNewKnlv')[0].checkValidity();
        if (!checkReduceFrom) {
            return;
        }

        var str = $("#formNewKnlv").serialize();
        $.ajax({
            type: "GET",
            async: false,
            data: str,
            url: BASE_URL + 'portal/hocvien/ajax_new_knlv',

            success: function (data) {
                    $('#divKnlv').html(data);

            }
        });
    }

    function deleteKnlv(id) {
        bootbox.confirm("Bạn có muốn xoá kinh nghiệm làm việc này không?", function(result){
            if(result){
                $.ajax({
                    type: "GET",
                    url: BASE_URL + 'portal/hocvien/ajax_delete_knlv',
                    data: "id=" + id,
                    success: function (response) {
                        $('#divKnlv').html(response);
                    }
                });
            }
        })
    }

</script>


<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->


</body>
</html>

