<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class="">Bổ sung thông tin học viên</h1>
                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a th:href="@{/portal/hocvien/create}">
                            <button type="button" class="btn btn-default">Tạo mới</button>
                        </a>
                        <button type="button" class="btn btn-default">Lưu</button>

                        <a th:href="@{/portal/hocvien/list}">
                            <button type="button" class="btn btn-default"> Danh sách học viên</button>
                        </a>
                        <button type="button" class="btn btn-default">Export PDF</button>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <th:block th:object="${bean}">

                    <section class="section bgTrans">
                        <div class="section-content">
                            <th:block th:replace="portal/fragments/message :: content(${messageLst})"/>
                            <!-- Content here -->
                            <div class="row">
                                <div class="item form-group col-xs-12">
                                    <h5> Cập nhật hông tin học viên </h5>
                                    <div class="item form-group col-xs-12">
                                        <h5> Thông tin Sinh viên </h5>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname"
                                               style="padding-top: 10px;">Mã
                                            học viên
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="firstname"
                                                   class="form-control col-md-7 col-xs-12 disabled input-lable"
                                                   th:field="*{entity.maHocVien}"
                                                   readonly required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname"
                                               style="padding-top: 10px;">Họ
                                            tên <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="firstname" class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.hoTen}"
                                                   readonly type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname"
                                               style="padding-top: 10px;">Giới
                                            tính <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12  input-lable"
                                                   th:if="${bean.entity.gioiTinh == 'F'}" value="Nữ"
                                                   readonly type="text">
                                            <input class="form-control col-md-7 col-xs-12  input-lable"
                                                   th:if="${bean.entity.gioiTinh == 'M'}" value="Nam"
                                                   readonly type="text">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12"
                                               style="padding-top: 10px;">Số ĐT <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12  input-lable"
                                                   th:field="*{entity.soDienThoai}"
                                                   readonly type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12  input-lable"
                                               for="firstname" style="padding-top: 10px;">Ngày
                                            sinh <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">

                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input readonly class="form-control col-md-7 col-xs-12 input-lable"
                                                           th:field="*{entity.ngaySinh}"
                                                    >

                                                </div>
                                            </div>

                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                               style="padding-top: 10px;">Email
                                            SHP<span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.emailShp}"
                                                   readonly type="email">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12 input-lable"
                                               style="padding-top: 10px;">Email <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.email}"
                                                   readonly type="email">
                                        </div>

                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12 input-lable"
                                               for="firstname" style="padding-top: 10px;">CMND/Passport
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.cmnd}"
                                                   readonly type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12 input-lable"
                                               style="padding-top: 10px;">Ngày cấp
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input class="form-control col-md-7 col-xs-12 input-lable"
                                                           th:field="*{entity.ngayCapCmnd}"
                                                    >

                                                </div>
                                            </div>

                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12"
                                               style="padding-top: 10px;">Tại <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12 input-lable"
                                                   th:field="*{entity.noiCapCmnd}"
                                                   readonly type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="item form-group col-xs-12">
                                    <h5> Kinh nghiệm làm việc </h5>
                                </div>
                                <div class="item form-group col-xs-12" id="divKnlv">
                                    <th:block th:replace="/portal/hocvien/hocvien_knlv :: content">
                                    </th:block>
                                </div>
                                <div class="item form-group col-xs-12">
                                    <h5> Hồ sơ cá nhân </h5>
                                </div>
                                <form method="POST" id="formNewFile" th:action="@{/portal/hocvien/upload}"
                                      enctype="multipart/form-data" th:object="${bean}">
                                    <input type="hidden" th:field="*{entity.id}">
                                    <input type="hidden" th:field="*{entity.maHocVien}">
                                    <div class="item form-group col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-4 lable-form"> File</label>
                                            <div class="col-sm-8">
                                                <input type="file" name="txtFile" id="txtFile"
                                                       class="form-control col-sm-10" data-html="true"
                                                       required multiple>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <table id="tbTableFile" cellspacing="0" width="100%"
                                                   class="table table-striped" style="color: black;">
                                                <thead>
                                                <tr>
                                                    <th style="width: 40px" class="text-center vhide">#</th>
                                                    <th class="vhide">Tên File</th>
                                                    <th>Loại Hồ Sơ</th>
                                                    <th>Ngày Upload</th>
                                                    <th class="vhide">Ghi Chú</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="item,i : ${bean.lstAlfFiles}" th:id="'trFile' + ${item.id}">
                                                    <td class="text-center">
                                                        <span th:text="${i.count}"></span>

                                                    </td>
                                                    <td id="tdFileName" th:text="${item.name}">

                                                    </td>
                                                    <td id="tdFileType">
                                                        <span th:if="${item.type == 'CM'}">CMND</span>
                                                        <span th:if="${item.type == 'BC'}">Bằng Cấp</span>
                                                        <span th:if="${item.type == 'HI'}">Hình</span>
                                                        <span th:if="${item.type == 'HK'}">Hộ Khẩu</span>
                                                        <span th:if="${item.type == 'HB'}">Học Bạ</span>
                                                        <span th:if="${item.type == 'SK'}">Giấy KSK</span>
                                                    </td>
                                                    <td>
                                                        <span th:if="${item.dateUpload != null}"
                                                              th:text="${#dates.format(item.dateUpload, 'dd/MM/yyyy hhm:ss')}"> </span>
                                                    </td>
                                                    <td id="tdNote" class="text-center" th:text="${item.note}">

                                                    </td>
                                                    <td>
                                                        <a th:onclick="'deleteFile('+ ${item.id} +');'"
                                                           class="btn btn-danger" style="min-width: 20px;"><i
                                                                style="color: white;"
                                                                class="fa fa-times"
                                                                title="Xoá kinh nghiệm làm việc."></i></a>
                                                        <a th:href="@{/document/files/{fileid}(fileid=${item.url})}"
                                                           target="_blank"
                                                           class="btn btn-primary" style="min-width: 20px;"><i
                                                                style="color: white;"
                                                                class="glyphicon glyphicon-paperclip"
                                                                title="Xem nội dung."></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot style="display: none;">
                                                <tr>
                                                    <td class="text-center">
                                                        <span id="tdIndex"></span>

                                                    </td>
                                                    <td id="tdFileName">
                                                        <input id="txtFileName"
                                                               class="form-control col-md-7 col-xs-12 input-lable"
                                                               readonly type="text"
                                                               style="width: 100%; border-bottom: none;">
                                                    </td>
                                                    <td id="tdFileType">
                                                        <select id="selFileType" style="width: 100%;"
                                                                class="form-control col-md-7 col-xs-12" required
                                                                disabled>
                                                            <option value=""></option>
                                                            <option value="HI">Hình</option>
                                                            <option value="CM">CMND</option>
                                                            <option value="BC">Bằng Cấp</option>
                                                            <option value="HK">Hộ Khẩu</option>
                                                            <option value="HB">Học Bạ</option>
                                                            <option value="SK">Giấy KSK</option>

                                                        </select>
                                                    </td>

                                                    <td id="tdNote" class="text-center">
                                                        <input class="form-control col-md-7 col-xs-12" type="text"
                                                               id="txtNote"
                                                               style="width: 100%;">
                                                    </td>
                                                    <td>
                                                        <a th:onclick="'deleteFile();'"
                                                           class="btn btn-danger" style="min-width: 20px;"><i
                                                                style="color: white;"
                                                                class="glyphicon glyphicon-remove-circle"
                                                                title="Xoá kinh nghiệm làm việc."></i></a>

                                                    </td>
                                                </tr>

                                                </tfoot>

                                            </table>
                                        </div>

                                    </div>
                                    <div class="item form-group col-xs-12">
                                        <input type="submit" class="btn btn-primary" value="Upload File">
                                    </div>
                                </form>
                            </div>
                            <!-- End Content here -->
                        </div>

                        <!--<div class="section-footer">-->
                        <!--<div class="btn-group">-->
                        <!--<button type="submit" class="btn btn-default mgL0">Lưu</button>-->
                        <!--</div>-->
                        <!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-default"> Đóng</button>-->
                        <!--</div>-->
                        <!--</div>-->

                    </section> <!-- End section -->
                </th:block>
            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>
<div id="divHidPopupDel" style="display: none;">
    <span style="color: red; font-size: 9pt; font-weight: 600; font-family: verdana;">TIP: Để hỗ trợ hệ thống nhận dạng loại hồ sơ nhanh hơn. Bạn có thể đặt tên file theo gợi ý:</span>
    <br>
    <lu>
        <li>CM.[Tên file] đối với hồ sơ là CMND.</li>
        <li>HI.[Tên file] đối với hồ sơ là hình.</li>
        <li>Tương tự là BC, HK, HB, SK</li>
        <li style="color: red;">Không sử dụng các ký tự /\:*?"<>|</li>
    </lu>

</div>
<script>
    $('#txtKnlvTuNgay').datepicker({
        autoclose: true,
        format: "dd/mm/yyyy",
        todayBtn: true,
        todayHighlight: true, language: "vi"
    });

    $('#txtKnlvDenNgay').datepicker({
        autoclose: true,
        format: "dd/mm/yyyy",
        todayBtn: true,
        todayHighlight: true, language: "vi"
    });


    function loadDist(source, dist, detail) {
        $('#' + dist).find('option').remove().end();
        $('#' + detail).find('option').remove().end();
        $('#i' + source).attr('class', 'fa fa-refresh fa-spin');

        var locCode = $('#' + source).val();

        $.ajax({
            type: "GET",
            url: BASE_URL + 'common/ajax_loadLocationDet',
            data: "parentCode=" + locCode,
            success: function (response) {
                $('#i' + source).attr('class', 'fa fa-search');
                $('#' + dist).append($("<option></option>").attr("value", "").text(""));
                $.each(response, function (key, value) {
                    $('#' + dist).append($("<option></option>").attr("value", key).text(value));
                });
                $('#' + dist).focus();
            }
        });
    }

    function loadDetail(source, dist) {
        $('#' + dist).find('option').remove().end();
        var locCode = $('#' + source).val();
        $.ajax({
            type: "GET",
            url: BASE_URL + 'common/ajax_loadLocationDet',
            data: "parentCode=" + locCode,
            success: function (response) {
                $('#' + dist).append($("<option></option>").attr("value", "").text(""));
                $.each(response, function (key, value) {
                    $('#' + dist).append($("<option></option>").attr("value", key).text(value));
                });
                $('#' + dist).focus();
            }
        });
    }

    function submitNewKnlv() {
        var checkReduceFrom = $('#formNewKnlv')[0].checkValidity();
        if (!checkReduceFrom) {
            return;
        }

        var str = $("#formNewKnlv").serialize();
        $.ajax({
            type: "GET",
            async: false,
            data: str,
            url: BASE_URL + 'portal/hocvien/ajax_new_knlv',

            success: function (data) {
                $('#divKnlv').html(data);

            }
        });
    }

    function deleteKnlv(id) {
        bootbox.confirm("Bạn có muốn xoá kinh nghiệm làm việc này không?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: BASE_URL + 'portal/hocvien/ajax_delete_knlv',
                    data: "id=" + id,
                    success: function (response) {
                        $('#divKnlv').html(response);
                    }
                });
            }
        })
    }

    function deleteFile(id) {
        bootbox.confirm("Bạn có muốn xoá hồ sơ này không?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: BASE_URL + 'common/ajax_delete_file',
                    data: "id=" + id,
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == "SUCCESS") {
                            $('#trFile' + id).remove();
                        }else{
                            bootbox.alert("Xoá không thành công!");
                        }
                    }
                });
            }
        });

    }

    $(document).ready(function () {

        var htmlDel = $('#divHidPopupDel').html();
        $('#txtFile').popover({placement: "top", content: htmlDel, trigger: "hover"});


        $('#txtFile').change(function (e) {
            $("#tbTableFile tbody").empty();
            var index = 1;
            var files = e.target.files;
            var cloneRow = $('#tbTableFile tfoot tr:first');
            $.map(files, function (val) {
                var fileName = val.name;
                var newRow = cloneRow.clone(true);
                var tdIndex = newRow.find('#tdIndex');
                tdIndex.html(index);
                var selFileType = newRow.find('#selFileType');
                selFileType.attr("name", "lstAlfFiles[" + index + "].type");
                selFileType.removeAttr("disabled");
                var res = fileName.split(".");
                if (res.length >= 2) {
                    var prefix = res[0].toUpperCase();
                    if (prefix == 'HI' || prefix == 'CM' || prefix == 'BC' || prefix == 'HK' || prefix == 'HB' || prefix == 'SK') {
                        selFileType.val(prefix);
                    }
                }
                var txtFileName = newRow.find('#txtFileName');
                txtFileName.val(fileName);
                txtFileName.attr("name", "lstAlfFiles[" + index + "].fileName");

                var txtNote = newRow.find('#txtNote');
                txtNote.attr("name", "lstAlfFiles[" + index + "].note");
                txtNote.removeAttr("disabled");

                var d = new Date();

                var month = d.getMonth() + 1;
                var day = d.getDate();

                var output = (day < 10 ? '0' : '') + day + '/' +
                    (month < 10 ? '0' : '') + month + '/' +
                    d.getFullYear();
                var tdUploadDate = newRow.find('#tdUploadDate');
                tdUploadDate.html(output);

                $('#tbTableFile tbody').append(newRow);
                index = index + 1;
            });


        });
    });
    /*]]>*/
</script>

<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->


</body>
</html>

