<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class="">Đăng ký học viên mới </h1>
                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a href="shp-form-dkhv.html"><button type="button" class="btn btn-default">Tạo mới </button></a>
                        <button type="button" class="btn btn-default">Lưu </button>

                        <a href="shp-form-dshv.html"><button type="button" class="btn btn-default"> Danh sách học viên   </button></a>
                        <button type="button" class="btn btn-default">Export PDF </button>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <section class="section bgTrans">
                    <div class="section-content">
                        <!-- Content here -->
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-muted" novalidate>
                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Khóa học <span class="required">*</span>
                                        </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group col-xs-12">
                                        <h5> Thông tin Sinh viên </h5>
                                        <i> Thông tin cá nhân </i>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Mã học viên
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="firstname" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Họ tên <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="firstname" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Giới tính <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <!-- Input radio -->
                                            <div class="radio checkbox-inline">
                                                <input id="radio1" type="radio" name="gender">
                                                <label style="margin-right: 25px;" for="radio1">Nam</label>
                                                <input  id="radio2" type="radio" name="gender">
                                                <label for="radio2">Nữ </label>
                                            </div>
                                            <!-- /Input radio -->
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="">Số ĐT <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Ngày sinh <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Email SHP<span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="">Email <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">CMND/Passport <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Ngày cấp <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="">Tại <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox11" type="checkbox">
                                            <label for="checkbox11">
                                                Đi học
                                            </label>
                                        </div>
                                        <!-- /Input check -->

                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox22" type="checkbox">
                                            <label for="checkbox22">
                                                Đi làm
                                            </label>
                                        </div>
                                        <!-- /Input check -->
                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox23" type="checkbox">
                                            <label for="checkbox23">
                                                Tự do
                                            </label>
                                        </div>
                                        <!-- /Input check -->

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number">Tình trạng cá nhân <span class="required">*</span>
                                        </label>


                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Trình độ tiếng anh <span class="required">*</span>
                                        </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <i> Địa chỉ thường trú </i>
                                    </div>


                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">TP/Tỉnh <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Quận / huyện <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="">P/Xã  <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Số nhà/ đường<span class="required">*</span>
                                        </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>



                                    <div class="item form-group col-xs-12">
                                        <i> Địa chỉ tạm trú </i>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">TP/Tỉnh <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select class="col-md-3 col-sm-3 col-xs-12"
                                                    onchange="loadDist('selCity','selDistrict','selDetail');"
                                                    id="selCity">
                                                <option value=""></option>
                                                <option th:each="item : ${locationCatalog}" th:value="${item.locCode}"
                                                        th:text="${item.locName}"></option>
                                            </select>

                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Quận / huyện <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="">P/Xã  <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Số nhà/ đường<span class="required">*</span>
                                        </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <i> Thông tin phụ huynh ( Bắt buộc đối với người dưới 25 tuổi )</i>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Họ tên Cha<span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Email<span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="">Số ĐT  <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Họ tên Mẹ
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Email
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="">Số ĐT
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <h5> Quá trình học tập </h5>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <!-- Input check -->
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number">Trình độ văn hóa <span class="required">*</span></label>

                                        <div class="checkbox col-md-3 col-sm-3 col-xs-12 checkbox-inline checkbox-success">
                                            <input id="thcs" type="checkbox">
                                            <label for="thcs">
                                                TN THCS
                                            </label>
                                        </div>
                                        <!-- /Input check -->

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number">Tên trường <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group col-xs-12">
                                        <!-- Input check -->
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number"></label>

                                        <div class="checkbox col-md-3 col-sm-3 col-md-offset-2 col-sm-offset-2 col-xs-12 checkbox-inline checkbox-success">
                                            <input id="thpt" type="checkbox">
                                            <label for="thpt">
                                                TN THPT
                                            </label>
                                        </div>
                                        <!-- /Input check -->

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number">Tên trường <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group col-xs-12">
                                        <!-- Input check -->
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number"></label>

                                        <div class="checkbox col-md-3 col-sm-3 col-xs-12 checkbox-inline checkbox-success">
                                            <input id="khac" type="checkbox">
                                            <label for="khac">
                                                Khác
                                            </label>
                                        </div>
                                        <!-- /Input check -->

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number">Tên trường
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>


                                    <div class="item form-group col-xs-12">
                                        <h5> Kinh nghiệm làm việc </h5>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Vị trí
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Tên công ty
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>


                                    </div>
                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Từ
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for=""> Đến
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>


                                    </div>
                                    <div class="item form-group col-xs-12">
                                        <!-- Input check -->

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number">Địa chỉ
                                        </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <!-- Input check -->

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number"></label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default mgL0"> + </button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <h5> Hồ sơ các nhân  </h5>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox11" type="checkbox">
                                            <label for="checkbox11">
                                                Hình
                                            </label>
                                        </div>
                                        <!-- /Input check -->

                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox22" type="checkbox">
                                            <label for="checkbox22">
                                                Bản sao CMT
                                            </label>
                                        </div>
                                        <!-- /Input check -->
                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox22" type="checkbox">
                                            <label for="checkbox22">
                                                Bằng cấp
                                            </label>
                                        </div>
                                        <!-- /Input check -->
                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox22" type="checkbox">
                                            <label for="checkbox22">
                                                Hộ khẩu
                                            </label>
                                        </div>
                                        <!-- /Input check -->
                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox22" type="checkbox">
                                            <label for="checkbox22">
                                                Học bạ
                                            </label>
                                        </div>
                                        <!-- /Input check --> <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox22" type="checkbox">
                                            <label for="checkbox22">
                                                Giấy khám sức khỏe
                                            </label>
                                        </div>
                                        <!-- /Input check -->

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number">Bao gồm <span class="required">*</span>
                                        </label>


                                    </div>


                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number"> Đính kèm file </label>
                                        <div class="col-md-5 col-sm-5 col-xs-12">

                                            <input type="file" id="exampleInputFile">
                                        </div>
                                    </div>


                                    <div class="item form-group col-xs-12">
                                        <h5> Thông tin tài chính </h5>
                                        <i> Thông tin người phụ trách nhiệm đóng học phí </i>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Họ tên <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Số điện thoại<span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="">Email <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <i> Địa chỉ tạm trú </i>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">TP/Tỉnh <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Quận / huyện <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="">P/Xã  <span class="required">*</span>
                                        </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="">Số nhà/ đường<span class="required">*</span>
                                        </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <input id="" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <i> Hình thức đóng học phí </i>
                                        <p> 1. Đối với khóa Topic & Short Coutses, Tiếng Anh </p>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox11" type="checkbox">
                                            <label for="checkbox11">
                                                Đóng trọn khóa
                                            </label>
                                        </div>
                                        <!-- /Input check -->

                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox22" type="checkbox">
                                            <label for="checkbox22">
                                                Chịa thành nhiều đợt
                                            </label>
                                        </div>
                                        <!-- /Input check -->
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number">Học phí <span class="required">*</span>
                                        </label>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <p> 2. Đối với khóa học 2 năm </p>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox11" type="checkbox">
                                            <label for="checkbox11">
                                                Đóng trọn khóa
                                            </label>
                                        </div>
                                        <!-- /Input check -->

                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox22" type="checkbox">
                                            <label for="checkbox22">
                                                Chịa thành nhiều đợt
                                            </label>
                                        </div>
                                        <!-- Input check -->
                                        <div class="checkbox checkbox-inline checkbox-success">
                                            <input id="checkbox22" type="checkbox">
                                            <label for="checkbox22">
                                                Đóng theo học kỳ
                                            </label>
                                        </div>
                                        <!-- /Input check -->
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="number">Học phí <span class="required">*</span>
                                        </label>
                                    </div>

                                </form>


                            </div>
                        </div>
                        <!-- End Content here -->
                    </div>

                    <div class="section-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default mgL0">Lưu </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"> Đóng </button>
                        </div>
                    </div>

                </section> <!-- End section -->


            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>



<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->


</body>
</html>

