<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class="">Tìm kiếm học viên </h1>

                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a th:href="@{/portal/hocvien/create}">
                            <button type="button" class="btn btn-default">Tạo mới</button>
                        </a>

                        <button type="button" class="btn btn-default">Import</button>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <form method="POST" th:action="@{/portal/hocvien/list}" th:object="${bean}" id="formLstHocVien">
                <section class="section bgTrans">
                    <div class="section-content">
                        <!-- Content here -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12 ">
                                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-xs-12">
                                        <input id="firstname" class="form-control col-md-7 col-xs-12" name=""
                                               placeholder="" required type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section class="section"> <!-- Start section table -->

                            <div class="section-header">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2 class="heading">Danh sách học viên</h2>
                                        <h3 class="sub-heading">Danh sách học viên tìm thấy theo từ khóa </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="section-content">
                                <!-- Content here -->
                                <div class="table-shp">
                                    <table class="table table-striped" style="color: black;" id="myTable">
                                        <thead>
                                        <tr>
                                            <th>
                                                <div class="checkbox checkbox-success">
                                                    <input id="checkbox1" type="checkbox" class="flat check-all">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </th>
                                            <th>Mã học viên</th>
                                            <th>Họ và tên</th>
                                            <th>Giới tính</th>
                                            <th>Năm sinh</th>
                                            <th>Khóa học</th>
                                            <th>Điện thoại</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item,i : ${bean.lstData}">
                                            <td>
                                                <div class="checkbox checkbox-success">
                                                    <input id="checkbox1" type="checkbox" class="flat check-all">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </td>
                                            <td><a href="shp-form-dkhv.html" th:text="${item.maHocVien}">HV0001</a></td>
                                            <td th:text="${item.hoTen}">Nguyen Manh Ha</td>
                                            <td><th:block th:if="${item.gioiTinh == 'M'}">Nam</th:block><th:block th:if="${item.gioiTinh == 'F'}">Nữ</th:block> </td>
                                            <td th:text="${#dates.format(item.ngaySinh, 'dd/MM/yyyy')}">1985</td>
                                            <td>Bep A viet nam</td>
                                            <td th:text="${item.soDienThoai}">
                                                0987565356
                                            </td>
                                            <td style="text-align: center;">

                                                <div class="btn-group">
                                                    <a></a>
                                                    <a th:href="@{/portal/hocvien/info/{id}(id=${item.id})}" class="btn btn-primary" style="min-width: 20px;"><i style="color: white;" class="glyphicon glyphicon-paperclip" title="Bổ sung hồ sơ và thông tin."></i></a>
                                                    <a th:href="@{/portal/khoahoc/dangky/{id}(id=${item.id})}" class="btn btn-primary" style="min-width: 20px;"><i style="color: white;" class="fa fa-align-center" title="Đăng ký khoá học."></i></a>
                                                    <a th:href="@{/portal/hocvien/edit/{id}(id=${item.id})}" class="btn btn-danger" style="min-width: 20px;"><i style="color: white;" class="glyphicon glyphicon-edit" title="Chỉnh sửa học viên"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- End Content here -->
                            </div>

                        </section> <!-- End section table -->

                        <!-- End Content here -->
                    </div>

                    <div class="section-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default mgL0">Lưu</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"> Đóng</button>
                        </div>
                    </div>
                </section> <!-- End section -->
                </form>

            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>


<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

</body>
</html>

