<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="portal/fragments/head :: head">
<meta charset="utf-8" />
</head>
<body class="hold-transition skin-blue layout-top-nav">
	<div class="wrapper">

		<!-- HEADER -->
		<header class="main-header"
			th:replace="portal/fragments/header :: header"></header>
		<!-- .HEADER -->

		<!-- CONTENT RIGHT -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text="#{systemgroup.page}" ></h1>
				<th:block th:replace="portal/systemgroup/systemgroup_button :: content" />
			</section>
			<section class="content">
				<th:block th:replace="portal/fragments/message :: content(${messageLst})"/>
				<div class="box box-table">
				
					<div class="box-header">
				        <h3 class="box-title" th:text="#{systemgroup.list.title}"></h3>
				    </div>
				    <div class="box-body no-padding">
				        <table class="table table-bordered table-hover out-tbl">
				        	<thead>
				                <tr>
				                    <th style="width: 10px">#</th>
				                    <th th:text="#{systemgroup.field.systemgroup.code}"></th>
				                    <th th:text="#{systemgroup.field.systemgroup.name}"></th>
				                    <th th:text="#{systemgroup.field.remark}"></th>
				                    <th th:text="#{systemgroup.field.status}"></th>
									<th th:text="#{active.label}" class="action"></th>
				                </tr>
				            </thead>
				            <tbody>
				            	<th:block th:each="portalsystemgroup,i : ${portalGroupLst}">
					              	<tr th:attr="data-portal-group-id=${portalsystemgroup.groupId}">
					                    <td th:text="${i.index + 1}"></td>
					                    <td th:text="${portalsystemgroup.groupCode}"></td>
					                    <td th:text="${portalsystemgroup.groupName}"></td>
					                    <td th:text="${portalsystemgroup.remark}"></td>
					                    <td th:if="${portalsystemgroup.status == '1'}" th:text="#{active.label}"> </td>
					                    <td th:if="${portalsystemgroup.status == '0'}" th:text="#{active.no.label}"> </td>
										<td>
				                            <button class="btn btn-default btn-sm portal-group-edit" type="button" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SYSTEM_GROUP_EDIT')">
				                                <i class="fa fa-edit"></i>
				                            </button>
				                            <button class="btn btn-default btn-sm portal-group-delete" type="button" th:attr="data-msg-confirm=#{message.confirm.delete.content}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SYSTEM_GROUP_DELETE')">
				                                <i class="fa fa-trash-o"></i>
				                            </button>
					                    </td>
				                   	</tr>
			                   	</th:block>
				            </tbody>
			            </table>
		            </div>
		            
			    </div>
			</section>
		</div>

	</div>
	<footer class="main-footer" th:replace="portal/fragments/footer :: footer"></footer>
	<script type="text/javascript" th:src="@{/main/portal/systemgroup/systemgroup_systemgroupTable.js}"></script>
	
	<!-- Config template -->
  	<script type="text/javascript" th:src="@{/adminLTE/js/app.js}"></script>
  	<script type="text/javascript" th:src="@{/adminLTE/js/config_app.js}"></script>
</body>
</html>