<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class=""> Lớp học </h1>

                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a href="shp-new-cahoc.html"><button type="button" class="btn btn-default">Tạo mới </button></a>
                        <button type="button" class="btn btn-default">Lưu </button>

                        <a href="shp-ds-cahoc.html"><button type="button" class="btn btn-default">Danh sách ca học </button> </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <section class="section bgTrans">
                    <div class="section-content">
                        <!-- Content here -->
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-muted" novalidate>

                                    <div class="item form-group col-xs-12">
                                        <h5> Tạo mới lớp học   </h5>
                                        <i> Thông tin tạo mới </i>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Mã lớp học <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="firstname" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Tên lớp học  <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <input id="firstname" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Khóa học <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>3 tháng</option>
                                                <option>6 tháng</option>

                                            </select>
                                        </div>

                                    </div>

                                    <div class="item form-group col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Loại lớp học <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <select class="input-sm col-sm-12 col-xs-12">
                                                <option>Phòng lý thuyết</option>
                                                <option>Văn phòng</option>
                                                <option>Phòng họp</option>
                                                <option>Phòng chức năng</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="firstname">Sức chứa <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="firstname" class="form-control col-md-7 col-xs-12" name="" placeholder="" required type="text">
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                        <section class="section"> <!-- Start section table -->

                            <div class="section-header">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="heading">Danh sách học viên </h2>
                                        <h3 class="sub-heading">Danh sách học viên trong lớp hiện tại có </h3>
                                    </div>

                                    <div class="col-sm-4 col-xs-12">
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-default mgL0" data-toggle="modal" data-target="#add-hocvien-lop" >Thêm học viên </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="section-content">
                                <!-- Content here -->
                                <div class="table-shp">
                                    <table class="table table1 bulk_action">
                                        <thead>
                                        <tr>
                                            <th> STT </th>
                                            <th>Mã học viên </th>
                                            <th>Tên học viên </th>
                                            <th>Điểm số (10/10)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td> 1</td>
                                            <td><a href="#">Ma-007</a></td>
                                            <td> Nguyen Van Thuyết  </td>
                                            <td>  8 </td>

                                        </tr>

                                        <tr>
                                            <td> 2</td>
                                            <td><a href="#">Ma-007</a></td>
                                            <td> Nguyen Van Thuyết  </td>
                                            <td>  9 </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="paginations">
                                    <ul class="pagination">
                                        <li><a href="#">Previous</a></li>
                                        <li><a href="#">...</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">...</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                                <!-- End Content here -->
                            </div>

                        </section> <!-- End section table -->

                        <!-- End Content here -->
                    </div>

                    <div class="section-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default mgL0">Lưu </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"> Đóng </button>
                        </div>
                    </div>
                </section> <!-- End section -->


            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>



<!-- Modal add-hoc vien vào lớp học-->
<div id="add-hocvien-lop" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="heading">Danh dách học viên</h2>
                <h3 class="sub-heading">Danh sách tất cả học viên đã đăng ký khóa học này</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <section class="section"> <!-- Start section table -->

                            <div class="section-content">
                                <!-- Content here -->
                                <div class="table-shp">
                                    <table class="table table1 bulk_action">
                                        <thead>
                                        <tr>
                                            <th>
                                                <div class="checkbox checkbox-success">
                                                    <input id="checkbox1" type="checkbox" class="flat check-all">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </th>
                                            <th>Mã học viên </th>
                                            <th>Tên học viên </th>
                                            <th>Điểm số (10/10) </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-success">
                                                    <input id="checkbox1" type="checkbox" class="flat check-all">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </td>
                                            <td><a href="#">Ma-007</a></td>
                                            <td> Trần Thủ Độ  </td>
                                            <td> 8  </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-success">
                                                    <input id="checkbox1" type="checkbox" class="flat check-all">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </td>
                                            <td><a href="#">Ma-007</a></td>
                                            <td> Trần Thủ Độ  </td>
                                            <td> 8  </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-success">
                                                    <input id="checkbox1" type="checkbox" class="flat check-all">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </td>
                                            <td><a href="#">Ma-007</a></td>
                                            <td> Trần Thủ Độ  </td>
                                            <td> 8  </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="paginations">
                                    <ul class="pagination">
                                        <li><a href="#">Previous</a></li>
                                        <li><a href="#">...</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">...</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                                <!-- End Content here -->
                            </div>

                        </section> <!-- End section table -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default mgL0">Thêm học viên</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Đóng</button>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>

