<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">
<th:block th:replace="portal/fragments/message :: content(${messageLst})" />
<form method="POST" id="formNewLhhv" th:object="${lopHocModel}" onsubmit="return false;">
	<div class="item form-group col-sm-12 col-xs-12">
		<h5> Thêm học viên cho lớp học  </h5>
	</div>
	<input type="hidden" th:field="*{lhhv.lopHoc.lopHocId}">
	<div class="item form-group col-xs-12">
		<label class="control-label col-md-2 col-sm-2 col-xs-12">Học Viên
		</label>
		<div class="col-md-10 col-sm-10 col-xs-12">
			<select class="input-sm col-sm-12 col-xs-12" th:field="*{lhhv.hocVien.id}" required id="selHocVien">
				<option value=""></option>
				<option th:each="item : ${lstHocVien}" th:value="${item.id}"
					th:text="${item.maHocVien} +  ' - ' + ${item.hoTen}"></option>
			</select>
		</div>
	</div>

	<div class="item form-group col-xs-12">
		<label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
		<div class="col-md-10 col-sm-10 col-xs-12">
			<div class="btn-group">
				<button type="submit" class="btn btn-default mgL0" onclick="submitNewLhhv();"> +</button>
			</div>
		</div>
	</div>
	<div class="item form-group col-xs-12">
		<label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
		<div class="col-md-10 col-sm-10 col-xs-12">
			<table class="table table-striped" style="color: black;">
				<thead>
				<tr>
					<th>Mã học viên</th>
					<th>Họ và tên</th>
					<th>Giới tính</th>
					<th>Năm sinh</th>
					<th>Điện thoại</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="item,i : ${lopHocModel.listLhhv}">
					<td><a th:href="@{/portal/hocvien/info/{id}(id=${item.hocVien.id})}" th:title="${item.hocVien.maHocVien}"
						th:text="${item.hocVien.maHocVien}">HV0001</a></td>
					<td th:text="${item.hocVien.hoTen}">Nguyen Manh Ha</td>
					<td><th:block th:if="${item.hocVien.gioiTinh == 'M'}">Nam</th:block><th:block th:if="${item.hocVien.gioiTinh == 'F'}">Nữ</th:block> </td>
					<td th:text="${#dates.format(item.hocVien.ngaySinh, 'dd/MM/yyyy')}">1985</td>
					<td th:text="${item.hocVien.soDienThoai}">0987565356</td>
					<td style="text-align: center;">
						<div class="btn-group">
							<a th:onclick="'deleteLhhv(' + ${item.id} + ');'" class="btn btn-danger" style="min-width: 20px;"><i
								style="color: white;" class="glyphicon glyphicon-remove-circle" title="Xoá Học Viên."></i></a>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
</body>
</html>