<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="portal/fragments/head :: head">
</head>

<body class="nav-md skin-brown">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="portal/fragments/site_bar :: site_bar">
        </div>
        <div class="top_nav" th:replace="portal/fragments/header :: topNav">
        </div>

        <!-- Main-->
        <div class="main_content" role="main">
            <div class="container-fluid top-heading">
                <h1 class=""> Lớp học </h1>

                <div class="pull-right hidden-xs">
                    <div class="btn-group">
                        <a th:href="@{/portal/lophoc/list}">
                            <button type="button" class="btn btn-default">Danh sách lớp học</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <section class="section bgTrans">
                    <th:block th:replace="portal/fragments/message :: content(${messageLst})" />
                    <form th:action="@{/portal/lophoc/edit}" th:object="${lopHocModel}" method="post" role="form" id="lophoc-form">
                        <input type="hidden" th:field="*{entity.lopHocId}" />
                        <input type="hidden" th:field="*{entity.soLuongHV}" />
                        <div class="section-content">
                            <!-- Content here -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-muted" novalidate>

                                        <div class="item form-group col-xs-12">
                                            <h5> Chỉnh sửa lớp học </h5>
                                        </div>

                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="lopHocCode">Mã lớp học <span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="lopHocCode" class="form-control col-md-7 col-xs-12"
                                                    th:field="*{entity.lopHocCode}" placeholder="" required type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="lopHocName">Tên lớp học <span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                <input id="lopHocName" class="form-control col-md-7 col-xs-12"
                                                    th:field="*{entity.lopHocName}" placeholder="" required type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="selKhoaHoc">Khóa học <span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <select class="input-sm col-sm-12 col-xs-12"
                                                    th:field="*{entity.khoaHoc.khoaHocId}" required id="selKhoaHoc">
                                                    <option value=""></option>
                                                    <option th:each="item : ${lstKhoaHoc}" th:value="${item.khoaHocId}"
                                                        th:text="${item.khoaHocName}"></option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="item form-group col-xs-12">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="selLoaiLopHoc">Loại lớp học <span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                <select class="input-sm col-sm-12 col-xs-12"
                                                    th:field="*{entity.loaiLopHoc.loaiLopHocId}" required id="selLoaiLopHoc">
                                                    <option value=""></option>
                                                    <option th:each="item : ${lstLoaiLopHoc}" th:value="${item.loaiLopHocId}"
                                                        th:text="${item.loaiLopHocName}"></option>
                                                </select>
                                            </div>
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="sucChua">Sức chứa <span
                                                class="required">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="sucChua" class="form-control col-md-7 col-xs-12"
                                                    th:field="*{entity.sucChua}" placeholder="" required type="text">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- End Content here -->
                        </div>

                        <div class="section-footer">
                            <div class="btn-group">
                                <button class="btn btn-primary" th:text="#{edit.button}" id="btn-submit"></button>
                            </div>
                            <div class="btn-group">
                                <a th:href="@{/portal/lophoc/list}">
                                    <button type="button" class="btn btn-default">Đóng</button>
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="section-content">
                        <!-- Content here -->
                        <div class="row">
                            <div class="item form-group col-xs-12" id="divLhhv">
                                <th:block th:replace="/portal/lophoc/lophoc_hocvien :: content"></th:block>
                            </div>
                        </div>
                    </div>
                </section> <!-- End section -->

            </div>
        </div>
        <!-- /Main -->
        <footer th:replace="portal/fragments/footer :: footer">
        </footer>
    </div>
</div>



<!-- .Popup detail view Task list -->
<!--<div class="control-sidebar-bg"></div>-->
<!---->
<!-- Config template -->
<script>
    function submitNewLhhv() {
        var checkReduceFrom = $('#formNewLhhv')[0].checkValidity();
        if (!checkReduceFrom) {
            return;
        }

        var str = $("#formNewLhhv").serialize();
        $.ajax({
            type: "GET",
            async: false,
            data: str,
            url: BASE_URL + 'portal/lophoc/ajax_new_lhhv',

            success: function (data) {
                $('#divLhhv').html(data);

            }
        });
    }

    function deleteLhhv(id) {
        bootbox.confirm("Bạn có muốn xoá học viên này không?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: BASE_URL + 'portal/lophoc/ajax_delete_lhhv',
                    data: "id=" + id,
                    success: function (response) {
                        $('#divLhhv').html(response);
                    }
                });
            }
        })
    }
</script>

</body>
</html>

